@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        @foreach (var item in Model.List)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.gender</td>
            <td>@item.release</td>
        </tr>
        }
        
    </table>
</div>
